ul{
    list-style-type: none;
}
ul li{
    display: inline;
    padding: 10px;
    background-color: #0277BD;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

table td{
    padding: 10px;
    border: 1px solid #ccc;
}